<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Roulette
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let row of grid; let rowIndex = index">
      <ion-col *ngFor="let value of row; let colIndex = index">
        <ion-input [(ngModel)]="grid[rowIndex][colIndex]" [placeholder]="'Value ' + (rowIndex * 4 + colIndex + 1)"
          (ionChange)="validateValue(rowIndex, colIndex)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let button of buttons">
        <ion-button expand="full" (click)="handleButtonClick(button)">{{ button }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>