ion-grid {
    max-width: 900px; // ajuste la largeur de la grille
    margin: 0 auto;
  }
  
  ion-input {
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
  }
  
  ion-button {
    --background: #3498db;
    --color: white;
    margin: 4px;
    font-size: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  ion-content {
    --ion-background-color: #f5f5f5; // couleur de fond de la page
  }
  